/*optional css*/

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 20px auto 50px;
  width: 800px;
  height: 800px;
  box-shadow: 0 0 20px 5px #777;
  outline: 1px solid rgba(255,255,255,0.4);
}

.after-image {
  border-right: 1px solid rgba(255,255,255,0.4);
}

.handle {
  opacity: 0;
  border-radius: 50%;
  cursor: col-resize;
  border: 1px solid white;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 0 15px 0 #000;
  transition: opacity 0.5s;
}

.container:hover .handle {
  opacity: 1;
}
